<section class="section text-center" id="contact">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Contact me</h2>
          <%# <p class="text-muted mx-auto section-subtitle mt-3">Reach me out with the form below.</p> %>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="form-kerri">
          <%= form_for @contact do |f| %>
            <%= recaptcha_v3(action: "contact") %>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <%= f.text_field "name", class: 'form-control', placeholder: 'Your Name', required: true %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <%= f.email_field "email", class: 'form-control', placeholder: 'Your Email', required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <%= f.text_field "subject", class: 'form-control', placeholder: 'Your Subject', required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <%= f.text_area "message", class: 'form-control', placeholder: 'Your Message', required: true %>
                </div>
              </div>
            </div>
            <%= f.hidden_field :nickname %>
            <div class="row">
              <div class="col-lg-12 text-right">
                <%= f.submit 'Send Message', class: "btn btn-custom" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
