<section class="section text-center" id="art">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Digital Images</h2>
          <p class="text-muted mx-auto section-subtitle mt-3">You can download the images below to use as <b>wallpapers</b>.<br> Alternatively, you can buy some of them as canvas <u><%= link_to "here", "#", data: { toggle: "modal", target: "#storeModal" } %></u>.</p>
          <%= render 'images/image_store_modal' %>
        </div>
      </div>
    </div>
    <div class="grid no-gutters">
      <% @images.each do |image| %>
        <%= link_to url_for(image.file.variant(resize_to_fill: [1000,0])), class: "col-lg-4 col-md-4 col-6 grid-item", data: { toggle: "lightbox", gallery: "photomanipulation-gallery", footer: "<a href='#{rails_blob_path(image.file, disposition: 'attachment')}' class='image-download-btn' title='Download'><i class='download-icon fa fa-2x fa-download'></i></a>" } do %>
          <%= image_tag(image.file.variant(resize_to_fill: [360, 360]), class: " img-thumbnail") %>
          <div class="gallery-image-item-overlay"></div>
        <% end %>
      <% end %>
    </div>
    <div class="row mt-3">
      <ul class="col list-unstyled list-inline mb-4 text-uppercase work_menu">
        <li class="list-inline-item">
          <%= link_to "MORE ART", images_path, 'data-turbolinks': 'false' %>
        </li>
      </ul>
    </div>
  </div>
</section>
