<section class="section header-bg-img h-100vh" id="home" style="background-image: url(<%= image_path('bridge.jpg') %>)">
  <div class="bg-overlay"></div>
  <div class="header-table">
    <div class="header-table-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="text-center header-content mx-auto">
              <h4 class="text-white first-title mb-4">Hey, I'm Guil!</h4>
              <h1 class="header-name text-white mb-0">I'm a
                <div id="text"></div>
                <div id="cursor"></div>
              </h1>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="flex-center">
                    <%= link_to "https://www.github.com/guilpejon", class: "ins-ic", target: "_blank" do %>
                      <i class="social-icon fab fa-github white-text"> </i>
                    <% end %>
                    <%= link_to "https://medium.com/@guilhermepejon", class: "ins-ic", target: "_blank" do %>
                      <i class="social-icon fab fa-medium white-text"> </i>
                    <% end %>
                    <%= link_to "https://www.linkedin.com/in/guilpejon", class: "ins-ic", target: "_blank" do %>
                      <i class="social-icon fab fa-linkedin white-text"> </i>
                    <% end %>
                    <%= link_to "https://www.instagram.com/guilpejon", class: "ins-ic", target: "_blank" do %>
                      <i class="social-icon fab fa-instagram white-text"> </i>
                    <% end %>
                    <%= link_to "https://play.google.com/store/apps/developer?id=guilpejon", class: "fb-ic", target: "_blank" do %>
                      <i class="social-icon fab fa-google-play white-text"> </i>
                    <% end %>
                    <%# <%= link_to "https://www.inprnt.com/gallery/guilpejon/", class: "fb-ic", target: "_blank" do %1> %>
                    <%#   <i class="social-icon fab fa-paint white-text"> </i> %>
                    <%# <% end %1> %>
                </div>
                </div>
              </div>
              <%# <p class="text-white mx-auto header-desc mt-4">Lorem Ipsum</p> %>
              <%# <div class="mt-4 pt-2"> %>
                <%#   <a href="#" class="btn btn-outline-custom btn-round">Download Cv</a> %>
                <%# </div> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="scroll_down"> %>
    <%#   <a href="#about" class="scroll"> %>
      <%#     <i class="text-white"></i> %>
      <%#   </a> %>
    <%# </div> %>
</section>
