<div class="container mt-5">
  <div class="card-deck">
    <% @articles.each do |article| %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <%= link_to article_path(article.slug) do %>
            <img class="card-img-top img-fluid" src="<%= url_for(article.thumbnail.variant(resize_to_fill: [250,250])) %>" alt="">
          <% end %>
          <div class="card-body">
            <%= link_to article_path(article.slug) do %>
              <h5 class="card-title"><%= article.title %></h5>
            <% end %>
            <p class="card-text"><%= article.description %></p>
            <p class="card-text"><small class="text-muted"><%= time_ago_in_words(article.created_at) %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
