<meta name="author" content="<%= meta_robots %>">
<link rel="canonical" href="<%= url_for(only_path: false) %>" />

<meta name="description" content="<%= meta_description %>">
<meta name="title" content="<%= meta_title %>">
<meta name="author" content="<%= meta_author %>">
<title><%= meta_title %></title>

<meta property="og:title" content="<%= meta_title %>">
<meta property="og:type" content="<%= meta_type %>">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:image" content="<%= meta_image %>">
<meta property="og:description" content="<%= meta_description %>">
<meta property="og:site_name" content="<%= meta_title %>">
<meta property="og:description" content="<%= meta_description %>">
<meta property="og:site_name" content="<%= meta_title %>">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="<%= DEFAULT_META[:twitter_account] %>">
<meta name="twitter:title" content="<%= meta_title %>">
<meta name="twitter:description" content="<%= meta_description %>">
<meta name="twitter:creator" content="<%= DEFAULT_META[:twitter_account] %>">
<meta name="twitter:image:src" content="<%= meta_image %>">
