<!DOCTYPE html>
<html>
  <head>
    <title>Guilpejon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/head' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="<%= controller.controller_name %>-<%= controller.action_name %>">
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
